{% extends 'layout.html.twig' %}

{% block title %}
  ajout de categorie
{% endblock %}

{% block content %}
  <h1>ajout categorie</h1>
  {{ form_label(formCategorie) }}
  {{ form(formCategorie) }}
{% endblock %}
