{% extends 'layout.html.twig' %}

{% block title %}
  ajout de categorie
{% endblock %}

{% block content %}
  <div class="container mb-10 mt-7">
    <h1>ajout categorie</h1>
    {{ form_label(formCategorie) }}
    {{ form(formCategorie) }}
  </div>
{% endblock %}
