{% extends 'layout.html.twig' %}

{% block title %}
  ajout de categorie
{% endblock %}

{% block content %}
  <div class="container mb-10">
  <h1>Ajout categorie</h1>
  {{ form(formCategorie) }}
  </div>
{% endblock %}
