{% for service in services %}
  {% if service.Categorie.nom == 'Soins' %}
    <li>
      <a href="{{ path('app_service', { slug: service.slug }) }}">{{ service.titre }}</a>
    </li>
  {% endif %}
{% endfor %}
