{% extends 'layout.html.twig' %}

{% block title %}
  Ajout d'un produit
{% endblock %}

{% block content %}
  <div class="container mb-10 mt-1">
    <h1>ajout d'un produit</h1>

    {{ form(formProduits) }}
  </div>
{% endblock %}
