{% extends 'layout.html.twig' %}

{% block title %}
  Mentions légales | Politiques de confidentialité 
{% endblock %}

{% block content %}
  <div class="container mb-10">
      <h1>Mentions légales | Politiques de confidentialité </h1>
    {{ form(formMletpc) }}
  </div>
{% endblock %}