{% extends 'layout.html.twig' %}

{% block title %}
  ajout d'un service
{% endblock %}

{% block content %}
  <div class="container mb-10 mt-10">
    <h1>ajout service</h1>

    {{ form(formService) }}
  </div>
{% endblock %}
