{% extends 'layout.html.twig' %}

{% block title %}
  ajout d'un service
{% endblock %}

{% block content %}
  <div class="container mb-10 mt-10">
    {% if data.url starts with '/add_service' %}
      <h1>Ajout de service</h1>
    {% else %}
      <h1>Mise à jour de cservice</h1>
    {% endif %}

    {{ form(formService) }}
  </div>
{% endblock %}
